.admin-records-wrapper {
  padding: 0.25rem;

  @media (min-width: 768px) {
    padding: 1rem;
  }

  .ant-table-cell:not(:last-of-type) {
    border-right: 1px solid #53535342;
  }

  // tbody {
  //   tr:last-of-type {
  //     .ant-table-cell {
  //       border-bottom: 0;
  //     }
  //   }
  // }
}
