.cab_driver_landing_pg{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    .image_with_text{
        display: flex;
        flex-direction: column;
align-items: center;
text-align: center;
gap: 3px;
padding-top: 20%;
    }
    .buttons{
        display: flex;
        flex-direction: column;
align-items: center;
text-align: center;
justify-content: flex-end;
gap: 3px;
        .on{
            border: none;
            outline: none;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 5px;
            width: 100%;
            background: #fd5901;

            a{
text-decoration: none;
color: white;

            }
        }
        .cancel{
            background: transparent;
            color: rgb(0, 0, 0);
            border: none;
            outline: none;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 5px;
            width: 100%;
        }
    }

}