.track-buses-wrapper {
  padding: 1rem;

  .ant-table-wrapper {
    box-shadow: none;
  }
  .ant-table-content {
    table {
      border-radius: 10px;
    }
  }
  .ant-table-thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  .ant-table-tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
  .ant-table-footer {
    background: transparent;
    padding-top: 50px;
  }
}
