.admin-user-details-wrapper {
  .back-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .form-card {
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
  }
}
