.my__profile {
  padding: 2em;

  display: flex;
  flex-direction: column;
  gap: 2em;

  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  .info__grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 2.5em;

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    .profile__input {
      border: 1px solid rgba(215, 215, 215, 1);
      border-radius: 10px;
      outline: none;

      background-color: #fafafa;
      color: rgba(121, 121, 121, 1);
      padding: 1em 1.5em;
      font-size: 1rem;
    }

    .select {
      appearance: none;
      font-size: inherit;
      font-family: inherit;
      color: rgba(121, 121, 121, 1);

      option {
        color: black;
      }
    }

    .save-btn {
      grid-column: 1/2;
      padding-inline: 1em;
    }
  }

  .container {
    display: flex;
    align-items: center;
  }

  h1 {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      /* Stack elements vertically on small screens */
      align-items: flex-start;
      /* Adjust alignment for better readability */
    }

    h1 {
      margin-bottom: 10px;
      font-size: 15px;
    }
  }

}

#google_translate_element {
  margin-top: 10px !important;

  select {
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border-radius: 8px;
    background-color: #fd5901;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .goog-te-combo {
    font-size: 15px !important;
    color: white;
  }
}

.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  top: -40px !important;
}

.translated-ltr {
  margin-top: -40px !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none;
}

#goog-gt-tt {
  display: none !important;
}