.search-page-wrapper {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;

  .booking-location-container {
    position: relative;

    #bookingLocation {
      position: relative;
      z-index: 1;
      background-color: white;
    }

    .map-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1/ 1.5;

      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
    }
  }

  .favorites-container {
    border: 1px solid red;
    position: relative;
    z-index: 1;
  }

  .btn-base {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
