.RideDetailsCard {
  padding-left: 10px;
  padding-right: 10px;

  .car_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    
    .cab_with_time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 90px;
        height: 55px;
        margin: 5px 0;
      }
      p {
        font-size: 12px;
        font-weight: 500;
      }
    }
    .title_text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h4 {
        padding: 0;
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }
    .pricing {
      display: flex;
      align-items: center;
      gap: 5px;
      h5 {
        font-size: 16px;
        text-wrap: nowrap;
      }
    }
  }
}
