.mobile-bottom-toolbar {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    box-sizing: border-box;
border-top: 1px solid rgba(0, 0, 0, 0.219);
    background: white;
    width: 100%;
 
    .nav-link-text {
      font-size: 9px;
      font-weight: 600;
    }
  
    svg {
      flex-grow: 1;
    }
  
    a  {
      color: rgb(113, 113, 113);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
    }
    .active {
      color: #FD5901;
    }
    .icons_with_name{
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10%;
        padding-bottom: 10px;
       span{
        font-size: 10px;
       }
        
    }
  }
  